.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.cart-details {
  background-color: var(--primary-color);
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 10px;
}
.coffee-items {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}
.cart-details {
  max-height: 90vh;
  position: sticky;
  top: 15px;
}
.cart-details h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 14px 0;
}
.cart-btns .btn {
  padding: 8px 15px;
  margin: 10px;
  text-align: center;
  display: block;
}

@media (max-width: 678px) {
  .shop {
    grid-template-columns: 1fr;
  }
  .coffee-items {
    order: 1;
    grid-template-columns: 1fr;
  }
  .cart-details {
    position: relative;
    margin-bottom: 2px;
  }
}
