.coffee-card {
  background-color: var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 14px 0 var(--primary-color);
}
.card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-body {
  margin: 15px;
}
.card-body p {
  margin: 10px 0;
}
.coffee-card .btn {
  margin: 15px;
}
