.cart {
  margin: 10px;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white-color);
  margin-bottom: 10px;
}
.cart-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.cart .delete {
  cursor: pointer;
}
