@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}
:root {
  --primary-color: #041562;
  --secondary-color: #11468f;
  --rose-color: #da1212;
  --white-color: #fff;
  --transition: all 400ms ease;
  --border: 1px solid var(--rose-color);
  --container-lg: 85%;
  --container-md: 90%;
  --container-sm: 94%;
}

style {
  font-family: "Inter", sans-serif;
}
.container {
  width: var(--container-lg);
  margin: 0 auto;
  background-color: #da1212;
}
@media (max-width: 920px) {
  .container {
    width: var(--container-md);
  }
}
@media (max-width: 678px) {
  .container {
    width: var(--container-sm);
  }
}
